<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <h6><%= current_user.name %> is currently logged in</h6>
      <%= link_to "Log the fuck outta here", logout_path, method: :delete %>
      <%= link_to "il mio profilo", user_path(current_user) %>
    <% else %>
      <%= link_to "Log in here", login_path %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
