<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |msg_type, msg| %>
      <div><%= msg %></div>
    <% end %>
    <% if current_user %>
      <h6><%= current_user.name %> is currently logged in</h6>
      <%= link_to "Lasciare", logout_path, method: :delete %>
      <%= link_to "il mio profilo", user_path(current_user) %>
      <%= link_to "Crea un evento", new_event_path %>

    <% else %>
      <%= link_to "Entrare", login_path %>
      <%= link_to "Crea un account", signup_path %>
    <% end %>
    <%= link_to "Tutti Gli Eventi", events_path %>

    <%= yield %>
  </body>
</html>
